<mat-card class="
bg-amber-50 rounded-lg hover:cursor-pointer transition-all duration-300
max-w-md
">
  <mat-card-header>
    <mat-card-title>
      {{ header() }}
      <span class=" text-sm text-gray-500 italic font-light">
        {{ type() }}
      </span>


    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ body() }}</p>
  </mat-card-content>
</mat-card>


<!--<div-->
<!--  class="flex flex-col p-3 border-2 border-gray-300-->
<!--  max-w-md-->
<!--  body-container-->
<!--  rounded-lg hover:cursor-pointer transition-all duration-300-->
<!--  "-->
<!--&gt;-->
<!--  <div class="underline text-lg font-semibold">-->
<!--    {{ header() }}-->
<!--  </div>-->
<!--  <div class="">-->
<!--    {{ body() }}-->
<!--  </div>-->
<!--</div>-->
