<main>
  <h1>{{ title }}</h1>
  <app-grade-select [gradeLevel]="gradeLevel"></app-grade-select>
  <div class="grid gap-3 grid-cols-1 ">
    @if (termsAndDefs) {
      @for (termDef of termsAndDefs; track termDef.id) {
        <app-card
          [term]="termDef.term"
          [definition]="termDef.definition"
          [gradeLevel]="termDef.reading_level"
        >
        </app-card>


      }
    } @else {
      <p>Loading terms...</p>
    }

  </div>

  <!--  <div class="flex gap-3 flex-wrap p-3 ">-->
  <!--    @for (termDefinition of termDefinitions; track termDefinition.id) {-->
  <!--      <app-card-->
  <!--        [header]="termDefinition.term"-->
  <!--        [body]="termDefinition.definition"-->
  <!--        [gradeLevel]="termDefinition.grade_level"-->
  <!--        [type]="termDefinition.type"-->
  <!--      >-->
  <!--      </app-card>-->
  <!--    }-->
  <!--  </div>-->
</main>


<router-outlet/>
